@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

:root {
    --blue: #0065fc;
    --ciel: #deebff;
    --grey: #f2f2f2;
}
Body {
    font-family: 'Raleway',sans-serif;
    background-color: white;    
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;  
}
header, main, footer {      
    margin: 0 50px;    
}
a {
    text-decoration: none;
    color: black;
}
/*Mise en forme du header*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
}
.logo {
    width: 61.09px;
    height: auto;
    margin:  44px 0 0 5px;
}
#NavBar {    
    display: flex;
    justify-content: space-around;
    width: 30%;    
}
.NavContent1 {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 50%;
}
.NavContent2 {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 50%;
}
.NavContent1:hover, .NavContent2:hover {
    border-top: var(--blue) 3px solid;
}
.effect {
    margin-top: 48px;
    font-size: 16px; 
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}
.effect:hover {    
    color: var(--blue);
}
/*Mise en forme de la partie accroche*/
h1 {    
    font-size: 22px;
    font-weight: 700;    
    padding-top: 40px;
    margin-left: 5px ;
}
.pH1 {
    font-size: 16px;
    margin-top: -5px;
    margin-left: 5px;
}
/*Mise en forme de la barre de recherche*/
#searchInput {
    border: none;
    height: 45px;
    width: 230px;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    font-size: 18px;
    font-weight: 700;    
    padding-left: 15px;    
}
#searchInput:focus {
    border: none;
    outline: none;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;    
}
#search {
    display: flex;
    height: 49px;
    margin-top: 20px;
    margin-left: 5px;
}
#searchButton {
    background-color: var(--blue);
    color: white;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
    border: none;
    width: 9%;
    cursor: pointer;
}
#searchButtonPhone {
    display: none;
}
#icon {
    width: 50px;
    height: 49px;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    background-color: var(--grey);
}
/*Mise en forme de la partie filtres*/
h2 {
    font-size: 18px;
    padding-right: 20px;   
}
.filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;    
    align-items: center ;
    width: 67%;
    margin: 20px 0;
}
.filtres i {
    display: flex;
    flex-wrap:nowrap ;    
    width: 22px;
    height: auto;
    color: var(--blue);    
}
.choice {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; 
    width: 100%; 
    margin-left: 20px;  
}
.choice div {
    display: flex;    
    flex-wrap: nowrap;
    justify-content: space-between;   
    align-items: center;        
    margin: 15px 25px 15px 0;
    font-size: 17px;
    font-weight: 700;    
    background-color: rgba(255, 255, 255, 0);
    border: #d9d9d9 2px solid;
    padding: 10px;
    border-radius: 25px;   
    cursor: pointer;    
}
.choice div:hover {
    background-color: var(--ciel);
}
/*Mise en forme de la partie "Infos"*/
.info {
    display: flex;
    align-items: center;    
    margin: 0 0 0 9px;
}
.fas.fa-info {    
    color: var(--blue);
    font-size: 10px;
    font-weight: 700;
    border: #d9d9d9 1px solid;
    border-radius: 100%;
    padding: 6px 9px;
    margin: 0;    
}
.info p {
    display: initial;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-left: 11px;
}
/*Mise en forme des parties "hébergements" et "populaires"*/
.Bloc2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 39px 0 0 0;
    min-height: 626px;
}
.article1 {
    width: 65%;
    order: 0;
}
.article2 {
    width: 32%;
    order: 0;     
}
/*Mise en forme de la partie "hébergements"*/
h3 {
    font-size: 22px;
    font-weight: 700;
    margin:40px 0px 25px 40px;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;    
    padding: 0 40px;   
}
.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Heb {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);    
}
.HebImg {
    display: flex;
    border: white 5px solid;
    border-radius: 20px 20px 0 0;
    object-fit: cover;    
    height: 123px;    
}
.content {
    background-color: white;
    border-radius: 0 0 20px 20px;
    margin-top: -15px;
    padding-left: 12px;    
}
h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 0 0;
}
.content p {
    font-size: 14px;
    font-weight: 400;    
    margin: 6px 0 4px 0;
}
.fa-solid.fa-star {
    font-size: 12px;
    color: var(--blue);
    width: 10px;    
    margin-bottom: 12px;
}
.fa-regular.fa-star {
    font-size: 12px;
    color: #d9d9d9;
    width: 10px;    
    margin-bottom: 12px;
}
.content span, .PopContent span {
    display: contents;
    font-weight: 600;
}
.more {
    font-size: 18px;
    font-weight: 700;
    margin: 12px 44px ;
}
/*Mise en forme de la partie "Populaires"*/
.mostPop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;    
    align-items: center;    
}
.fa-solid.fa-chart-line {
    color: var(--blue);
    margin-top: 20px;
    margin-right: 42px;
}
.PopContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;            
    width: 82%;
    margin-left: auto; 
    margin-right: auto; 
}
.Pop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    background-color: white; 
    margin-bottom: 33px;        
    height: 144px;        
    border-radius: 20px;       
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);    
}
.PopImg {
    display: flex;    
    border: white 5px solid;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    width: 40%;   
}
.PopContent {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    flex-wrap: nowrap; 
    background-color: white;    
    border-radius: 0 20px 20px 0;
    width: 60%;
    padding: 0 15px;          
}
.PopContent p {
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-top: -30px;      
}
/*Mise en forme de la partie "Activités"*/
.Bloc3 {    
    margin: 60px 0;        
}
.Bloc3 h3 {
    margin: 0; 
}
.activitesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;              
}
.Bloc3 a {
    width: 23%;
}
.actFigure {
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    margin: 18px 0 0 0;       
}
.actImg {         
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 444.51px;
}  
.caption {
    display: flex;
    align-items: center;    
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 56px;
    margin: -58px 0px;
    padding:  0;
    border-radius: 0 0 20px 20px;    
}
.caption h4 { 
    margin-top: 2px;
    margin-left: 19px;
}
/*Mise en forme du footer*/
footer { 
    margin-top: 60px;   
    background-color: #f2f2f2;
    min-height: 225px;
}
.footContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;    
    margin: 0 70px;
}
footer div {
    display: flex;
    flex-direction: column;
    margin-top: 45px;    
}
footer h2 {
    margin: 0;
    margin-bottom: 20px;
}
footer a {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}

@media screen and (max-width: 992px) {
    /*Modifications générales*/
    body {        
        max-width: 1024px;
    }
    header, main, footer {
        margin: 0 70px;
    } 
    /*Modifications barre de recherche*/       
    #searchButton {        
        width: 16%;        
    }
    /*Modifications des filtres*/
    .filtres {               
        width: 90%;        
    }
    .choice {
        margin-left: -10px;
    }
    .choice div {        
        margin: 15px 5px 15px 5px;
        padding: 10px;
    } 
    /*Modifications des parties "populaire" et "hébergements"*/   
    article {        
        min-height: 278px;
    }
    .article1 {
        width: 100%;        
    }
    .article2 {
        width: 100%;
        margin-top: 53px;                
    }
    /*Modifications de la partie "hébergements"*/
    .more {        
        margin:  12px 44px 46px 44px ;
    }
    /*Modifications partie "populaire"*/
    .PopContainer {
        flex-direction: row;
        flex-wrap: nowrap; 
        justify-content: center;                   
        width: 95%;
    }
    .Pop {        
        width: 30%;
        margin: 0 11px 0 12px;        
    }
    .PopContent {        
        padding-left: 5px;
    }
    .PopContent h4 {
        font-size: 14px;
        margin-right: 15px;
    }
    .PopContent p {        
        font-size: 13px;
        margin-top: -10px;           
    }    
    /*Modifications de la partie "Activités"*/
    .Bloc3 {    
        margin: 70px 0;        
    }    
    .actFigure {
        margin: 34px 0 0 0;
    }
    .actImg {        
        height: 267px;
    }  
    .caption {        
        width: 100%;
    }    
    .ndg {
        margin-right: 40px;
    }
    /*Modifications du Footer*/    
    footer { 
        margin-top: 70px;        
    }
    .footContainer {
        flex-wrap: nowrap;        
    }
    footer div {
        margin-right: 20px;
    }        
}

@media screen and (max-width: 768px) {
    /*Modifications générales*/
    body {                
        max-width: 375px;        
    }        
    header, main, footer {
        margin: 0;
        background-color: white;
    }
    /*Modifications header*/
    nav {
        flex-direction: column;
        height: 100px;
    }
    .logo {
        margin: 21px 0 0 0;
    }
    #NavBar {        
        width: 100%;           
    }
    .NavContent1, .NavContent2 {              
        border-bottom: #f2f2f2 3px solid;
    }
    .NavContent1:hover, .NavContent2:hover {
        border-top: none;                
        border-bottom: var(--blue) 3px solid;
    }
    .effect {        
        margin-bottom: 23px;        
    }
    /*Modifications Phrases d'accroche*/ 
    h1 {
        margin-top: 31px;
        margin-left: 22px;
        margin-right: 10px;
    }
    .pH1 {
        font-size: 16px;
        margin-top: 13px;
        margin-left: 22px;
    }
    /*Modifications barre de recherche*/
    #searchInput {
        width: 216px;
    }
    #search {
        display: flex;
        justify-content: center;        
        margin-top: 36px;
        margin-left: 0;       
    }
    #searchButtonPhone {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--blue);
        color: white;
        font-weight: 700;
        border-radius: 0 15px 15px 0;
        border: none;
        width: 13%;
        cursor: pointer;
    }
    #searchButton {
        display: none;
    }
    /*Modifications des filtres*/
    .filtres {
        flex-wrap: wrap;        
        margin: 20px;
    }
    .filtres i {          
        font-size: 18px;        
        margin-right: 3px;
        padding-left: 10px;
    }    
    .choice {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;        
    }
    .choice div {
        display: flex;    
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 7px 0 8px 0;
        padding: 0;
        font-size: 11px;
        width: 156px;
        height: 46px;        
    }    
    .choice div:hover {
        background-color: var(--ciel);
    }
    /*Modification partie "info"*/
    .info {        
        margin: 0 20px 15px 20px;
    }
    .fas.fa-info {
        display: flex;        
        font-size: 12px;
    }
    .info p {
        margin-top: 20px;                
    } 
    /*Modifications des parties "populaire" et "hébergements"*/
    .Bloc2 {        
        justify-content: center;
    }   
    article {        
        border-radius: 0;
        margin: 0;
        min-height: 1px;
    }    
    .article1 {
        width: 100%;
        order: 1;
        background-color: white;
    }
    .article2 {
        width: 100%;         
        min-width: 1px;
        margin-top: 20px;
    }
    /*Modifications partie "populaire"*/
    h3 {        
        margin:28px 0px 26px 20px;
    }    
    .fa-solid.fa-chart-line {        
        margin-top: 6px;
        margin-right: 21px;
    }
    .PopContainer {        
        flex-direction: column;       
        align-items: center; 
        margin-bottom: 37px;       
    }
    .Pop {          
        min-width:334px ;
        margin: 0 0 10px 0;
    }
    .PopImg {        
        min-width: 127px;
    }
    .PopContent {
        max-width: max-content;
        margin-left: -8px;
        margin-right: 0px;
        padding-left: 15px;        
    }
    .PopContent h4 {
        font-size: 16px;        
        margin: 15px 0 0 0;
    }
    .PopContent p {        
        font-size: 14px;        
        margin-top: -30px;       
    }
    /*Modifications de la partie "hébergements"*/
    .container {
        padding: 0 20px;
    }
    .line {        
        flex-direction: column;
    }    
    .Heb {        
        width: 100%;
        margin: 0;
        margin-top: -10px;       
        margin-bottom: 22px;           
    } 
    .more {
        display: none;
    } 
    /*Modifications de la partie "Activités"*/
    .Bloc3 {
        margin: 87px 20px 56px 20px;
    }
    .Bloc3 h3 {
        margin:0;
        margin-right: 150px;    
    }    
    .activitesContainer { 
        flex-direction: column;       
        justify-content: center; 
        margin: 0;                                
    }
    .Bloc3 a {
        width: 100%;
    }
    .actFigure {        
        margin: 3px 0 24px 0;        
    }
    .actImg {
        height: 190px;
    }
    /*Modifications du Footer*/
    footer {
        background-color: #f2f2f2; 
        margin-top: 0px;
        padding-bottom: 49px;
    }
    .footContainer {
        flex-direction: column;       
        justify-content: flex-start;        
        margin:  0 30px ;
    } 
    footer div {        
        margin-top: 39px;    
    }    
}